<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>D2consumer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Dumpling2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dumpling2Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DumplingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFC9EE301A9C971000B5927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFC9EE441A9C971000B5927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCB3AF61A78A12700F52BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCB3B011A78A12700F52BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCB3B471A78EE2400F52BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCB3B5B1A78EE2400F52BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCB3B6D1A78EE6400F52BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCB3B811A78EE6500F52BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD86B5D1AE7AA13003E357B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD86B731AE7AA13003E357B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
